.add-card {
    text-align: center;
    display: flex;
    float: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(37, 104, 158);
    border-style: groove;
    border-width: thin;
    border-radius: 10px;
    border-color: black;
    border-radius: 15px;
    padding-bottom: 15px;
}