.add-card {
    text-align: center;
    width: 25%;
    height: 18%;
    color: white;
    background-color: rgb(37, 104, 158);
    border-style: groove;
    border-width: thin;
    border-radius: 10px;
    border-color: black;
    border-radius: 15px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 5%;
    left: 5%;
}