.collections-list {
    padding-top: 1%;
    text-align: center;
    display: block;
    width: 15%;
    /* margin-left: auto;
    margin-right: auto; */
    color: black;
    background-color: white;
    border-style: groove;
    border-width: thin;
    border-radius: 10px;
    border-color: black;
    /* padding-bottom: 15px; */
    box-sizing: border-box;
}  

.collections-list h1 {
    font-size: x-large;
}

.collections-list ul {
    list-style-type: none;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.collections-list ul:active {
    background-color: yellow;
  }


li.collections-list-item {
    background-color: lightgreen;
}